<h1>Projects <small><%= page_entries_info @projects %></small></h1>

<ul id="projects">
  <% @projects.each do |project| %>
    <li>
      <%= link_to project.title, project %>
      <p><%= project.teaser %></p>
    </li>
  <% end %>
</ul>

<%= paginate @projects %>
