<h1><%= @project.title %></h1>
<p class="author">By <%= [@project.user.first_name, @project.user.last_name].join(' ') %></p>

<div><%= link_to "Back This Project", new_project_pledge_path(@project), class: "btn btn-primary" %></div>
